.output, .input_container, .input {
  background: black;
  font-family: 'Hack', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  word-break: break-all;
}

.output, .input_container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.output {
  padding-top: 1rem;
}

.output:empty {
  display: none;
}

.input_container {
  padding-bottom: 1rem;
}

.output:empty + .input_container {
  padding-top: 1rem;
}

.input {
  display: inline;
  width: 90%;
  background: transparent;
  border: 0;
  outline: 0;
  color: white;
  font-family: 'Hack', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
